
@import "./lib.scss";

.fixed-header {
    .fixed-header-title {
        padding: 1rem 1rem 0 2rem;
        @include flex-box(row);

        .fixed-header-heading {
            @include flex(1);
            
            h3 {
                @include flex-box(row);
                @include align-items(center);
                margin: .75rem 0 0 0;
                    .label {
                        margin-left: 1rem;
                    }
            }
            .section {
                font-size: 1.1rem;
            }
        }
        .fixed-header-buttons {
            padding-left: 1rem;
            padding-right: 1.5rem;
        }
    }
    .ui.menu {
        margin: .5rem 0 0 0;
    }
    .ui.secondary.pointing.menu {
        position: relative;
        box-shadow: 1px 1px 1px #aaa;
        border-bottom: none;
        z-index: 2;
    }
    .ui.empty.secondary.pointing.menu {
        margin: 0;
        margin-top: .1rem;
        line-height: 0;
        height: 0;
        min-height: 1rem;
    }
    /* Used to position the green/orange label next to version number in secondary menu. */
    .right.menu.pub-status {
        .item:first-child {
            padding-right: 0;
        }
        .item:not(:first-child) {
            padding-left: .25rem;
        }
    }        
}
