.require::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #d95c5c;
}
.duration-control {
    @include flex-box(row);
}
    .duration-control input {
        width: 3.5rem!important;
    }
    .duration-control select {
        margin-left: .5rem;
        width: 6rem!important;
    }
/* This is a magic number that aligns text with Semantic UI controls. */
/* As such I have a special class for it. */
.inline-form-text {
    line-height: 38px;
}
.inline-editor-controls a:first-child {
    margin-right: 1rem;
}
.label-field-padding {
    margin: .65rem 0;
}
.help-text {
    color: #666;
    padding: 0 .5rem;
}
input[readonly]:not([data-input]) {
    border-color:transparent!important;
    padding-left: 0rem!important;
}
/* Tag editor control */
.tag-editor label {
    white-space: nowrap;
}
.tag-control {
    @include flex-box(row);
    @include justify-content(space-between);
    width: 14rem;

    button {
        z-index:1;
    }
}
.button-set {
    @include flex-box(row);
}
/* The controls in a layout expand across the field region, sometimes they 
    look dumb that large. This is one attempt to rationalize it. */
.short-input {
    width: 14rem!important;
}
label[for] {
    cursor: pointer!important;
}
.hidden {
    visibility: hidden!important;
}

/* For creating range controls in criteria editor. */
.range-control-border {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    padding: .47rem .2rem!important;
    font-size: 1em;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    display: inline-block!important;
    text-align:center!important;
}
.range-control-border input, .range-control-border input:focus {
    text-align:center!important;
    border: none!important;
    box-shadow: none!important;
    display: inline-block!important;
    width:3rem!important;
    padding: .2rem!important;
}
.range-control-border-active {
    border-color:#85B7D9!important;
}