.field_definition {
    @include flex-box(row);
    @include align-items(center);
    width: 100%;
    border-radius: 4px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    
    &:hover {
        background-color: rgba(0,0,0,.05);
    }
    > div {
        padding: .25rem .5rem .25rem 0;
    }
    > div:nth-child(1) {
        padding-left: 1rem;
    }
    > div:last-child {
        padding-right: 1rem;
    }
    > div.extra {
        @include flex(1);
    }
    a {
        margin-left: 1rem;
    }
    .ui.checkbox input.hidden+label { /* Semantic UI's selector for this label element. */
        display: inline;
    }
    .version_input {
        width:6.5rem!important; 
        padding-right:0!important;
    }
    .version_input:first-child {
        margin-right:.5rem!important;
    }
}
