.schedule-fieldset {
    .ui.form {
        margin: 1rem;
    }   
}
.schedule-legend {
    font-weight: bold;
    font-size: 110%;
    padding: 0 .5rem;
}
.schedule-strategy-header {
    font-size: larger;
    font-weight: bold;
    margin-top:2rem;
}
    /* A/B Schedules */
    .schedulegroup-fieldset {
        display:block;
        max-height: 80rem;
        overflow: auto;
        padding:1rem!important;
        margin-bottom:2rem!important;
        border-radius:6px;
    }
    .schedulegroup-fieldset:nth-child(odd) {
        background-color: rgba(0,0,0,.03);
    }
    .schedulegroup-fieldset-remove {
        text-align:right; 
        margin-bottom: 1rem; 
        margin-top: -1rem;
    }
    .schedulegroup-fieldset-legend {
        font-size: 120%;
        padding: 0 1rem;
    }
    .schedulegroup-field-delete {
        text-align: right;
        padding-right: 1rem;
    }
    .schedulegroup-fieldset-h4 {
        border-top:1px dotted #aaa; 
        margin-top:1rem; 
        padding-top: 1rem;
    }
    .scheduleCriteria-fieldset {
        margin: 4rem 0 1rem 0;
        @include flex-box(row);
        @include justify-content(space-between); 
    }
    
    
.activity {
    @include flex-box(row);
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: .5rem;
    
    div:nth-child(1) {
        padding-right: .5rem;
    }
    div:nth-child(2) {
        padding-right: .5rem;
    }
    div:nth-child(3) {
        padding-right: .5rem;
        width: 10rem;
    }
    div:nth-child(4), div:nth-child(5) {
        padding-right: .5rem;
        width: 20rem;
    }
    div:last-child {
        width: 13rem;
    }
}
.activity-controls {
    @include align-items(top); // just seems slightly more aligned than leaving it alone.
    padding-left: .75rem!important; 
    white-space: nowrap;
}

.times-label {
    font-weight: bold;
}